In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns 'EIN'.
application_df = application_df.drop(columns = ['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
unique_value_counts

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME counts for binning
name_counting = application_df['NAME'].value_counts()
name_counting

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_application_types_to_replace`
name_application_types_to_replace = name_counting[name_counting < 10].index.tolist()

# Identify categories to be grouped as "Other"
name_application_types_to_replace.append("Other")

# Replace in dataframe
for app in name_application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
value_counting = application_df['APPLICATION_TYPE'].value_counts()
value_counting

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = value_counting[value_counting < 1000].index.tolist()

# Identify categories to be grouped as "Other"
application_types_to_replace.append("Other")

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_grt1 = class_counts[class_counts > 1]
class_counts_grt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts < 100].index.tolist()

# Identify categories to be grouped as "Other"
classifications_to_replace.append("Other")

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

len(X_train[0])

269

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu", input_dim=269))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# # Additional hidden layer
# nn_model.add(tf.keras.layers.Dense(units=15, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                8100

 dense_1 (Dense)             (None, 30)                930

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 9,061
Trainable params: 9,061
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, verbose=1, validation_data=(X_test_scaled, y_test))

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4842 - accuracy: 0.7681 - val_loss: 0.4560 - val_accuracy: 0.7781
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4437 - accuracy: 0.7839 - val_loss: 0.4536 - val_accuracy: 0.7782
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4396 - accuracy: 0.7859 - val_loss: 0.4545 - val_accuracy: 0.7801
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4379 - accuracy: 0.7876 - val_loss: 0.4527 - val_accuracy: 0.7791
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4366 - accuracy: 0.7886 - val_loss: 0.4527 - val_accuracy: 0.7787
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4354 - accuracy: 0.7894 - val_loss: 0.4504 - val_accuracy: 0.7799
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4346 - accuracy: 0.7897 - val_loss: 0.4522 - val_accuracy: 0.7831
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4328 - accuracy: 0.7908 - val_loss: 0.4553 - val_accuracy: 0.7801
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4328 - accuracy: 0.7902 - val_loss: 0.4532 - val_accuracy: 0.7809
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4320 - accuracy: 0.7895 - val_loss: 0.4525 - val_accuracy: 0.7820
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4317 - accuracy: 0.7907 - val_loss: 0.4557 - val_accuracy: 0.7763
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7922 - val_loss: 0.4554 - val_accuracy: 0.7801
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7918 - val_loss: 0.4542 - val_accuracy: 0.7803
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4298 - accuracy: 0.7932 - val_loss: 0.4549 - val_accuracy: 0.7790
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4290 - accuracy: 0.7928 - val_loss: 0.4555 - val_accuracy: 0.7815
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4290 - accuracy: 0.7940 - val_loss: 0.4563 - val_accuracy: 0.7836
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4284 - accuracy: 0.7927 - val_loss: 0.4553 - val_accuracy: 0.7820
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4281 - accuracy: 0.7928 - val_loss: 0.4568 - val_accuracy: 0.7801
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4275 - accuracy: 0.7937 - val_loss: 0.4560 - val_accuracy: 0.7796
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4272 - accuracy: 0.7935 - val_loss: 0.4567 - val_accuracy: 0.7797
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7935 - val_loss: 0.4566 - val_accuracy: 0.7816
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4268 - accuracy: 0.7941 - val_loss: 0.4564 - val_accuracy: 0.7810
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4261 - accuracy: 0.7937 - val_loss: 0.4573 - val_accuracy: 0.7806
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4259 - accuracy: 0.7941 - val_loss: 0.4569 - val_accuracy: 0.7804
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4256 - accuracy: 0.7944 - val_loss: 0.4572 - val_accuracy: 0.7825
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4253 - accuracy: 0.7952 - val_loss: 0.4598 - val_accuracy: 0.7763
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4252 - accuracy: 0.7954 - val_loss: 0.4585 - val_accuracy: 0.7810
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4247 - accuracy: 0.7946 - val_loss: 0.4594 - val_accuracy: 0.7802
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4244 - accuracy: 0.7941 - val_loss: 0.4573 - val_accuracy: 0.7805
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4241 - accuracy: 0.7963 - val_loss: 0.4580 - val_accuracy: 0.7797
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4237 - accuracy: 0.7958 - val_loss: 0.4582 - val_accuracy: 0.7797
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.7954 - val_loss: 0.4620 - val_accuracy: 0.7798
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7955 - val_loss: 0.4595 - val_accuracy: 0.7764
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4230 - accuracy: 0.7952 - val_loss: 0.4620 - val_accuracy: 0.7788
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7970 - val_loss: 0.4617 - val_accuracy: 0.7792
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4228 - accuracy: 0.7957 - val_loss: 0.4598 - val_accuracy: 0.7797
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7959 - val_loss: 0.4593 - val_accuracy: 0.7833
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4223 - accuracy: 0.7969 - val_loss: 0.4612 - val_accuracy: 0.7766
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7957 - val_loss: 0.4604 - val_accuracy: 0.7802
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7958 - val_loss: 0.4615 - val_accuracy: 0.7783
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.7962 - val_loss: 0.4607 - val_accuracy: 0.7819
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4214 - accuracy: 0.7960 - val_loss: 0.4605 - val_accuracy: 0.7798
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4211 - accuracy: 0.7963 - val_loss: 0.4656 - val_accuracy: 0.7815
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7975 - val_loss: 0.4639 - val_accuracy: 0.7783
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7968 - val_loss: 0.4628 - val_accuracy: 0.7815
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7973 - val_loss: 0.4624 - val_accuracy: 0.7801
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4206 - accuracy: 0.7965 - val_loss: 0.4633 - val_accuracy: 0.7766
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7970 - val_loss: 0.4634 - val_accuracy: 0.7775
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7984 - val_loss: 0.4646 - val_accuracy: 0.7790
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4201 - accuracy: 0.7973 - val_loss: 0.4651 - val_accuracy: 0.7776
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4199 - accuracy: 0.7979 - val_loss: 0.4614 - val_accuracy: 0.7819
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4194 - accuracy: 0.7971 - val_loss: 0.4677 - val_accuracy: 0.7777
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.7968 - val_loss: 0.4649 - val_accuracy: 0.7833
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4198 - accuracy: 0.7968 - val_loss: 0.4640 - val_accuracy: 0.7806
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4192 - accuracy: 0.7972 - val_loss: 0.4629 - val_accuracy: 0.7812
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4192 - accuracy: 0.7977 - val_loss: 0.4642 - val_accuracy: 0.7811
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4192 - accuracy: 0.7975 - val_loss: 0.4655 - val_accuracy: 0.7791
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7982 - val_loss: 0.4640 - val_accuracy: 0.7801
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7968 - val_loss: 0.4634 - val_accuracy: 0.7791
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7980 - val_loss: 0.4668 - val_accuracy: 0.7766
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7978 - val_loss: 0.4634 - val_accuracy: 0.7803
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7976 - val_loss: 0.4649 - val_accuracy: 0.7816
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4187 - accuracy: 0.7989 - val_loss: 0.4658 - val_accuracy: 0.7752
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4184 - accuracy: 0.7987 - val_loss: 0.4701 - val_accuracy: 0.7820
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4189 - accuracy: 0.7978 - val_loss: 0.4678 - val_accuracy: 0.7783
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7985 - val_loss: 0.4681 - val_accuracy: 0.7809
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7969 - val_loss: 0.4682 - val_accuracy: 0.7761
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4182 - accuracy: 0.7978 - val_loss: 0.4667 - val_accuracy: 0.7806
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4178 - accuracy: 0.7984 - val_loss: 0.4649 - val_accuracy: 0.7804
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7988 - val_loss: 0.4660 - val_accuracy: 0.7785
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4180 - accuracy: 0.7981 - val_loss: 0.4670 - val_accuracy: 0.7812
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.7984 - val_loss: 0.4680 - val_accuracy: 0.7763
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7987 - val_loss: 0.4671 - val_accuracy: 0.7785
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4176 - accuracy: 0.7979 - val_loss: 0.4670 - val_accuracy: 0.7802
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7987 - val_loss: 0.4692 - val_accuracy: 0.7797
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.7986 - val_loss: 0.4712 - val_accuracy: 0.7798
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7989 - val_loss: 0.4687 - val_accuracy: 0.7769
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7994 - val_loss: 0.4679 - val_accuracy: 0.7810
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4171 - accuracy: 0.7984 - val_loss: 0.4724 - val_accuracy: 0.7803
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4170 - accuracy: 0.7982 - val_loss: 0.4678 - val_accuracy: 0.7791
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4173 - accuracy: 0.7994 - val_loss: 0.4706 - val_accuracy: 0.7801
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7982 - val_loss: 0.4696 - val_accuracy: 0.7823
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7998 - val_loss: 0.4681 - val_accuracy: 0.7799
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7985 - val_loss: 0.4704 - val_accuracy: 0.7782
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.7982 - val_loss: 0.4689 - val_accuracy: 0.7809
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4166 - accuracy: 0.7987 - val_loss: 0.4705 - val_accuracy: 0.7784
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.7981 - val_loss: 0.4699 - val_accuracy: 0.7803
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7991 - val_loss: 0.4688 - val_accuracy: 0.7805
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7988 - val_loss: 0.4728 - val_accuracy: 0.7785
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.7998 - val_loss: 0.4713 - val_accuracy: 0.7776
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4160 - accuracy: 0.7996 - val_loss: 0.4695 - val_accuracy: 0.7780
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.7989 - val_loss: 0.4740 - val_accuracy: 0.7778
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.8001 - val_loss: 0.4731 - val_accuracy: 0.7785
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7987 - val_loss: 0.4719 - val_accuracy: 0.7781
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.8003 - val_loss: 0.4693 - val_accuracy: 0.7785
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.7991 - val_loss: 0.4715 - val_accuracy: 0.7794
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4161 - accuracy: 0.7991 - val_loss: 0.4717 - val_accuracy: 0.7795
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.7994 - val_loss: 0.4689 - val_accuracy: 0.7795
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7989 - val_loss: 0.4689 - val_accuracy: 0.7768
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.8001 - val_loss: 0.4726 - val_accuracy: 0.7796

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4726 - accuracy: 0.7796 - 363ms/epoch - 1ms/step
Loss: 0.47257277369499207, Accuracy: 0.7795918583869934

In [18]:
# Export our model to HDF5 file
from google.colab import files

nn_model.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')